<div class="container-fluid s-chat-bot">
  <div class="row clearfix">
    <div class="col-lg-12">
      <div class="card chat-app">
        <div id="plist" class="people-list">
          <div class="logo-section">
            <img
              routerLink="/"
              class="cursor-pointer"
              src="./assets/images/utills/nm.svg"
            />
          </div>
          <div class="new-chat-div">
            <button
              type="button"
              class="btn btn-primary"
              (click)="createNewChat()"
            >
              New Chat
            </button>
          </div>
          <div class="historic-chat-div">
            <p class="re-text">Recent</p>
            <div
              class="historic-chat-div-content row cursor-pointer"
              *ngFor="let history of historicList"
              (click)="setHistoricChat(history)"
            >
              <div class="col-md-1 p-0 imag">
                <img src="./assets/images/utills/chat.svg" />
              </div>
              <div class="col-md-10 p-0 tc">
                <p class="tc-title">{{ history.title }}</p>
                <p class="tc-sub">{{ history.sub }}</p>
              </div>
              <!-- <div class="col-md-1 p-0 time"></div> -->
            </div>
          </div>

          <div class="input-group d-none">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-search"></i></span>
            </div>
            <input type="text" class="form-control" placeholder="Search..." />
          </div>
          <ul class="list-unstyled chat-list mt-2 mb-0 d-none">
            <li
              class="clearfix"
              *ngFor="let history of chatHistory"
              (click)="setInputText(history.title)"
            >
              <!-- <img
                src="https://bootdey.com/img/Content/avatar/avatar1.png"
                alt="avatar"
              /> -->
              <div class="about">
                <div class="name">{{ history.title }}</div>
                <div class="status">
                  <i class="fa fa-circle offline"></i> left 7 mins ago
                </div>
              </div>
            </li>
            <!-- <li class="clearfix active">
              <img
                src="https://bootdey.com/img/Content/avatar/avatar2.png"
                alt="avatar"
              />
              <div class="about">
                <div class="name">Aiden Chavez</div>
                <div class="status">
                  <i class="fa fa-circle online"></i> online
                </div>
              </div>
            </li>
            <li class="clearfix">
              <img
                src="https://bootdey.com/img/Content/avatar/avatar3.png"
                alt="avatar"
              />
              <div class="about">
                <div class="name">Mike Thomas</div>
                <div class="status">
                  <i class="fa fa-circle online"></i> online
                </div>
              </div>
            </li>
            <li class="clearfix">
              <img
                src="https://bootdey.com/img/Content/avatar/avatar7.png"
                alt="avatar"
              />
              <div class="about">
                <div class="name">Christian Kelly</div>
                <div class="status">
                  <i class="fa fa-circle offline"></i> left 10 hours ago
                </div>
              </div>
            </li>
            <li class="clearfix">
              <img
                src="https://bootdey.com/img/Content/avatar/avatar8.png"
                alt="avatar"
              />
              <div class="about">
                <div class="name">Monica Ward</div>
                <div class="status">
                  <i class="fa fa-circle online"></i> online
                </div>
              </div>
            </li>
            <li class="clearfix">
              <img
                src="https://bootdey.com/img/Content/avatar/avatar3.png"
                alt="avatar"
              />
              <div class="about">
                <div class="name">Dean Henry</div>
                <div class="status">
                  <i class="fa fa-circle offline"></i> offline since Oct 28
                </div>
              </div>
            </li> -->
          </ul>
        </div>
        <div class="chat">
          <div class="chat-div">
            <div class="chat-header clearfix">
              <div class="row">
                <div class="col-md-6"><p class="title">Conversations</p></div>
                <!-- <div class="col-md-6">Theme</div> -->
                <!-- <div class="col-lg-6">
                            <a href="javascript:void(0);" data-toggle="modal" data-target="#view_info">
                                <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="avatar">
                            </a>
                            <div class="chat-about">
                                <h6 class="m-b-0">Aiden Chavez</h6>
                                <small>Last seen: 2 hours ago</small>
                            </div>
                        </div>
                        <div class="col-lg-6 hidden-sm text-right">
                            <a href="javascript:void(0);" class="btn btn-outline-secondary"><i class="fa fa-camera"></i></a>
                            <a href="javascript:void(0);" class="btn btn-outline-primary"><i class="fa fa-image"></i></a>
                            <a href="javascript:void(0);" class="btn btn-outline-info"><i class="fa fa-cogs"></i></a>
                            <a href="javascript:void(0);" class="btn btn-outline-warning"><i class="fa fa-question"></i></a>
                        </div> -->
              </div>
            </div>
            <div class="chat-history" #scrollContainer>
              <div class="chat-history-format">
                <div
                  class="row chat-def-screen"
                  *ngIf="chatConvesrsation?.length === 0"
                >
                  <div
                    class="col-md-6 text-center"
                    *ngFor="let q of questios"
                    (click)="setInputText(q.title)"
                  >
                    <span class="chat-def-screen-head cursor-pointer">
                      {{ q.title }}
                      <!-- <i class="fa fa-send pl-2"></i> -->
                    </span>
                  </div>
                </div>
                <ul class="m-b-0" *ngIf="chatConvesrsation?.length > 0">
                  <ng-container *ngFor="let chat of chatConvesrsation">
                    <li
                      class="clearfix other-message"
                      *ngIf="chat.type === 'from'"
                    >
                      <div class="row">
                        <div class="col-md-12 d-flex">
                          <img
                            class="m-avatar"
                            src="./assets/images/utills/bot-avatar.svg"
                          />
                          <div class="text-content">
                            <div class="title">New Mexico AI</div>
                            <div
                              class="content"
                              [innerHTML]="chat.text | marked"
                            ></div>
                            <div class="url-div">
                              <p class="url-text">
                                Follow the link for additional information:<a
                                  href="{{ u }}"
                                  target="_blank"
                                  *ngFor="let u of chat.url"
                                  >{{ u }}
                                </a>
                              </p>
                            </div>
                          </div>
                          <div class="top-icons"></div>
                        </div>
                        <!-- <div class="col-md-10">con</div> -->
                      </div>

                      <!-- <div class="message-data text-right"> -->
                      <!-- <span class="message-data-time">10:10 AM, Today</span> -->
                      <!-- <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="avatar"> -->

                      <!-- </div> -->
                      <!-- <div class="message float-right">
                        {{ chat.text }}
                        <p class="url-text">
                          <a href="{{ chat.url }}" target="_blank">
                            {{ chat.url }}</a
                          >
                        </p>
                      </div> -->
                    </li>
                    <li class="clearfix" *ngIf="chat.type === 'from-load'">
                      <div class="message-data text-right">
                        <!-- <span class="message-data-time">10:10 AM, Today</span> -->
                        <!-- <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="avatar"> -->
                      </div>
                      <div class="message float-right">
                        <div class="col-3">
                          <div class="snippet" data-title="dot-flashing">
                            <div class="stage">
                              <div class="dot-flashing"></div>
                            </div>
                          </div>
                        </div>
                        {{ chat.text }}
                        <!-- <p class="url-text"><a href="{{chat.url}}" target="_blank"> {{chat.url}}</a></p> -->
                      </div>
                    </li>
                    <li
                      class="clearfix message my-message"
                      *ngIf="chat.type === 'to'"
                    >
                      <div class="row">
                        <div class="col-md-12 d-flex">
                          <img
                            class="m-avatar"
                            src="./assets/images/utills/default-avatar.svg"
                          />
                          <div class="text-content">
                            <div class="title">YOU</div>
                            <div class="content">{{ chat.text }}</div>
                          </div>
                        </div>
                        <!-- <div class="col-md-10">con</div> -->
                      </div>
                      <!-- <div class="message-data">
                        <span class="message-data-time">10:12 AM, Today</span>
                      </div>
                      <div class="message my-message">
                        {{ chat.text }}
                      </div> -->
                    </li>
                  </ng-container>

                  <!--   <li class="clearfix">
                  <div class="message-data text-right">
                                <span class="message-data-time">10:10 AM, Today</span>
                            </div>
                  <div class="message other-message float-right">
                    Hi Aiden, how are you? How is the project coming along?
                  </div>
                </li>
                <li class="clearfix">
                  <div class="message-data">
                    <span class="message-data-time">10:12 AM, Today</span>
                  </div>
                  <div class="message my-message">Are we meeting today?</div>
                </li>
                <li class="clearfix">
                  <div class="message-data">
                    <span class="message-data-time">10:15 AM, Today</span>
                  </div>
                  <div class="message my-message">
                    Project has been already finished and I have results to show
                    you.
                  </div>
                </li>

                 <li class="clearfix">
                  <div class="message-data">
                    <span class="message-data-time">10:15 AM, Today</span>
                  </div>
                  <div class="message my-message">
                    Project has been already finished and I have results to show
                    you.
                  </div>
                </li>
                <li class="clearfix">
                  <div class="message-data">
                    <span class="message-data-time">10:15 AM, Today</span>
                  </div>
                  <div class="message my-message">
                    Project has been already finished and I have results to show
                    you.
                  </div>
                </li>
                <li class="clearfix">
                  <div class="message-data">
                    <span class="message-data-time">10:15 AM, Today</span>
                  </div>
                  <div class="message my-message">
                    Project has been already finished and I have results to show
                    you.
                  </div>
                </li>
                <li class="clearfix">
                  <div class="message-data">
                    <span class="message-data-time">10:15 AM, Today</span>
                  </div>
                  <div class="message my-message">
                    Project has been already finished and I have results to show
                    you.
                  </div>
                </li>
                <li class="clearfix">
                  <div class="message-data">
                    <span class="message-data-time">10:15 AM, Today</span>
                  </div>
                  <div class="message my-message">
                    Project has been already finished and I have results to show
                    you.
                  </div>
                </li>
                <li class="clearfix">
                  <div class="message-data">
                    <span class="message-data-time">10:15 AM, Today</span>
                  </div>
                  <div class="message my-message">
                    Project has been already finished and I have results to show
                    you.
                  </div>
                </li> -->
                </ul>
                <div class="chat-input-div">
                  <div class="input-group mb-0">
                    <div class="input-group-prepend">
                      <span class="input-group-text" (click)="postMessage()">
                        <img src="./assets/images/utills/flower.svg" />
                        <!-- <i class="fa fa-send"></i
                      > -->
                      </span>
                    </div>
                    <input
                      type="text"
                      class="form-control search-box"
                      placeholder="Enter a question here"
                      [(ngModel)]="inputText"
                      (keydown.enter)="postMessage()"
                    />
                    <div
                      class="input-group-append cursor-pointer"
                      (click)="postMessage()"
                    >
                      <span
                        class="input-group-text"
                        *ngIf="inputText.trim().length < 1"
                      >
                        <img src="./assets/images/utills/send.svg" />
                      </span>
                      <span
                        class="input-group-text"
                        *ngIf="inputText.trim().length >= 1"
                      >
                        <img src="./assets/images/utills/send-blue.svg" />
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="chat-message clearfix">
              <div class="input-group mb-0">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                  (click)="postMessage()"
                    ><i class="fa fa-send"></i
                  ></span>
                </div>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter text here..."
                  [(ngModel)]="inputText"
                  (keydown.enter)="postMessage()"
                />
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
